{
  "plugins": ["prettier-plugin-astro"],
  "semi": true,
  "singleQuote": true,
  "printWidth": 200,
  "tabWidth": 2,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore"
}
