---
interface Props {
    message?: string;
}

const { 
    message = ''
} = Astro.props;
---

<div class="w-full bg-gradient-to-r from-[var(--color-infoBar)] via-[var(--color-complementario)] to-[var(--color-infoBar)] text-black relative">
    <div class="max-w-7xl mx-auto px-4">
        <p class="text-sm md:text-2xl text-center font-medium font-[arizonia]">
            <slot set:html={message}></slot>
        </p>
    </div>
</div>

