---
interface Props {
    message?: string;
}

const { 
    message = ''
} = Astro.props;
---

<div class="w-full bg-gradient-to-r from-[var(--color-primario)] via-[var(--color-complementario)] to-[var(--color-primario)] text-black py-2.5 relative">
    <div class="max-w-7xl mx-auto px-4">
        <p class="text-xs sm:text-sm md:text-base text-center font-medium">
            <slot set:html={message}></slot>
        </p>
    </div>
</div>

