---
import Hero from "../components/IndexComponents/Hero.astro";
import Layout from "../layouts/layout.astro";
import Recuadro from "../components/IndexComponents/Recuadro.astro";
import ImagenTexto from "../components/ImagenTexto.astro";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Kürbis</title>
  </head>
  <body>
    <Layout title="Kürbis">
      <Hero />
      <Recuadro
        texto="Aceite; puro, oscuro, sabroso, versátil y extraordinariamente saludable"
      />
      <ImagenTexto
        srcBackground="/img/marmol-1.webp"
        altBackground="Marble background"
        srcProduct="/img/oil-bottle.webp"
        altProduct="Oil bottle"
        title="Aceite de Semillas de Zapallo"
        buttonText="Comprar"
        buttonLink="/#"
      >
        <p
          class="text-center xs:text-left text-xs sm:text-sm md:text-base lg:text-lg mb-4 sm:mb-6 lg:mb-8 leading-relaxed"
          slot="description"
        >
          El color verde oscuro con matices rojos de este aceite extra virgen
          sin filtrar, su exquisito aroma, su alto valor nutricional por su
          elevado contenido de ácidos grasos insaturados, <span
            class="font-bold"
            >omega 3 + omega 6 + omega 9 de 10 mg por porción</span
          >, su buen aporte en Magnesio, Zinc, Hierro.
          <a
            href="/#"
            class="text-xs sm:text-sm md:text-base lg:text-lg font-medium hover:underline inline-block"
          >
            Saber más →
          </a>
        </p>
      </ImagenTexto>
    </Layout>
  </body>
</html>
