---
import { CarouselHero } from ".././components/IndexComponents/CarouselHero";
import Layout from "../layouts/layout.astro";
import Recuadro from "../components/IndexComponents/Recuadro.astro";
import MarmolImage from "@/components/IndexComponents/MarmolImage.astro";
import Offer from "../components/IndexComponents/Offer.astro";
import Suscription from "../components/IndexComponents/Suscription.astro";
import SectionDirectAccess from "@/components/IndexComponents/SectionDirectAccess.astro";
---

<Layout title="Kürbis">
  <CarouselHero client:load />
  <Recuadro
    texto='<span class="font-medium">Aceite</span>; puro, oscuro, sabroso, versátil y extraordinariamente saludable'
  />
  <MarmolImage
    srcBackground="/img/marmol.webp"
    altBackground="Marble background"
    srcProduct="/img/oil-bottle.webp"
    altProduct="Oil bottle"
    productHeight="h-100 md:h-150"
  >
    <h1
      class="text-black font-bold text-xl xs:text-2xl sm:text-3xl xl:text-4xl font-[georgia]"
      slot="title"
    >
      Aceite de Semillas de Zapallo
    </h1>
    <p
      class="text-black text-center xs:text-left text-sm md:text-base lg:text-lg mb-4 sm:mb-6 lg:mb-8 leading-relaxed font-[450]"
      slot="description"
    >
      El color verde oscuro con matices rojos, su calidad cien por ciento virgen
      sin filtrar, su exquisito aroma, su alto valor nutricional por su elevado
      contenido de ácidos grasos, omega 3 + omega 6 + omega 9 de 10 mg por
      porción, su buen aporte en Magnesio, Zinc, Hierro, Potasio, Vitamina E,
      polifenoles, fitoesteroles y otros antioxidantes y su sabor almendrado y
      delicado, lo hacen único.
      <a
        href="/productos/aceite"
        class="text-xs sm:text-sm md:text-base lg:text-lg font-medium hover:underline inline-block"
      >
        Saber más →
      </a>
    </p>
  </MarmolImage>

  <div
    class="relative flex justify-center content-center md:h-full bg-[var(--color-background)] md:pt-20"
  >
    <img
      src="/img/lechuga.webp"
      alt="Aceite Kurbis sobre una lechuga"
      class="w-full object-cover md:hidden"
    />

    <div
      class="hidden w-full md:flex justify-center mb-10 mx-50 lg:mx-70 xl:mx-100 2xl:mx-120"
    >
      <div class="relative">
        <div class="absolute -top-4 -left-4 w-full h-full border border-[var(--color-primario)]/30"/>
        
        <div class="absolute -right-4 -bottom-4 w-full h-full border border-[var(--color-primario)]/30"/>
        
        <div class="relative overflow-hidden">
          <img
            src="/img/lechuga.webp"
            alt="Aceite Kurbis sobre una lechuga"
            class="object-cover"
          />
        </div>
      </div>
    </div>
  </div>

  <Recuadro
    texto='<span class="font-medium">Alimento</span>; real, plant based, sabroso, versátil e increíblemente nutritivo'
  />
  <MarmolImage
    srcBackground="/img/marmol.webp"
    altBackground="Marble background"
    srcProduct="/img/pack-protein.webp"
    altProduct="Proteina pack"
    productHeight="h-100 md:h-150"
  >
    <h1
      class="text-black font-bold text-xl xs:text-2xl sm:text-3xl xl:text-4xl font-[georgia]"
      slot="title"
    >
      Alimento vegetal de Semillas de Zapallo
    </h1>
    <p
      class="text-black text-center xs:text-left text-sm md:text-base lg:text-lg mb-4 sm:mb-6 lg:mb-8 leading-relaxed font-[450]"
      slot="description"
    >
      Por su excelente proteína vegetal de casi 20% por porción con los 9
      aminoácidos esenciales y un apreciado contenido de triptófano, por el
      aporte en Magnesio, Zinc, Potasio y Hierro, por ser una increíble fuente
      de fibra, vitamina E, fitoesteroles y otros antioxidantes, por la
      presencia de ácidos grasos insaturados, por su bajo contenido en
      carbohidratos y por su fino sabor, es único.
      <a
        href="/productos/alimento"
        class="text-xs sm:text-sm md:text-base lg:text-lg font-medium hover:underline inline-block"
      >
        Saber más →
      </a>
    </p>
  </MarmolImage>

  <div
    class="relative flex justify-center content-center md:h-full bg-[var(--color-background)] md:pt-20"
  >
     <img
      src="/img/gym.webp"
      alt="Alimento Kürbis reposado en una maquina de gym"
      class="w-full object-cover md:hidden"
    />

    <div
      class="hidden w-full md:flex justify-center mb-10 mx-50 lg:mx-70 xl:mx-100 2xl:mx-120"
    >
      <div class="relative">
        <div class="absolute -top-4 -left-4 w-full h-full border border-[var(--color-primario)]/30"/>
        
        <div class="absolute -right-4 -bottom-4 w-full h-full border border-[var(--color-primario)]/30"/>
        
        <div class="relative overflow-hidden">
          <img
            src="/img/gym.webp"
            alt="Alimento Kürbis reposado en una maquina de gym"
            class="object-cover"
          />
        </div>
      </div>
    </div>
  </div>

  {/* Promos Grid */}
  <section
    id="promociones"
    class="min-h-screen mt-10 p-4 md:p-16 lg:p-6 pb-0 content-center bg-[var(--color-background-alt)]"
  >
    <div class="border-2 border-[var(--color-primario)]/30">
      <h2
        class="text-base sm:text-xl md:text-2xl lg:text-3xl xl:text-4xl text-[var(--color-perla)] font-black uppercase mt-4 md:mt-10 lg:mt-20 mb-0 text-center"
      >
        Disfruta nuestras exclusivas oportunidades
      </h2>
      <h3
        class="text-sm sm:text-lg md:text-xl lg:text-2xl xl:text-3xl text-[var(--color-perla)] font-medium mt-2 mb-4 text-center"
      >
        — Puedes compartir Sabor y Bienestar —
      </h3>
      <div
        class="grid grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-y-10 place-items-center mt-10 md:mt-14 mx-4"
      >
        <Offer
          image="/img/duo-wellness.webp"
          title="Duo Wellness"
          description="Comprando el Dúo, llevas un 20% off."
        />
        <Offer
          image="/img/super-vital.webp"
          title="Super Vital"
          description="Comprando 3 Alimentos vegetal Kürbis natural, llevas un 20% off."
        />
        <Offer
          image="/img/sabores-austria.webp"
          title="Sabores de Austria"
          description="Comprando 5 botellas de Aceite Kürbis, tienes 1 botella de Aceite Kürbis de regalo"
        />
      </div>
      <div
        class="w-fit bg-[var(--color-primario)] font-medium xs:text-lg sm:text-2xl text-black mt-15 mb-5 py-2.5 px-4 sm:px-6 mx-auto"
      >
        Promociones por tiempo limitado
      </div>
    </div>
  </section>

  <Suscription />

  <div class="min-h-screen p-4">
    <div
      class="grid grid-cols-1 lg:grid-cols-2 lg:[grid-template-rows:repeat(2,300px)] xl:[grid-template-rows:repeat(2,400px)] place-items-center gap-2 md:gap-0"
    >
      <SectionDirectAccess
        imagen="/img/nosotros/panorama-index.webp"
        alt="Austria y Piriapolis"
        title="Quienes somos"
        description="Descubre nuestra increible cultura historica"
        link="nosotros"
        buttonText="Conocer más"
      />
      <SectionDirectAccess
        imagen="/img/mision/ceibo.webp"
        alt="Ceibos"
        title="Misión"
        description="Nuestra misión con las personas y el planeta"
        link="mision"
        buttonText="Ver misión"
      />
      <SectionDirectAccess
        imagen="/img/sostenibilidad/semillas.webp"
        alt="Semillas de zapallo"
        title="Sostenibilidad"
        description="Colaboramos para hacer de este mundo un lugar más sostenible para nosotros y las futuras generaciones"
        link="sostenibilidad"
        buttonText="Saber más"
      />
      <SectionDirectAccess
        imagen="/img/productos/hero.webp"
        alt="Paisaje natural, con aceite y bolsa alimento natural"
        title="Nuestros productos"
        description="Sentí el poder de la naturaleza, Kürbis preserva todos los nutrientes de las semillas de zapallo, para una vida saludable"
        link="productos"
        buttonText="Ver productos"
      />
    </div>
  </div>
</Layout>
