---
import HeroWithTitle from "@/components/HeroWithTitle.astro";
import Layout from "../layouts/layout.astro";
import TimeLine from "@/components/NosotrosComponents/TimeLine";
import EndPage from "@/components/EndPage.astro";
import Quote from "@/components/Quote.astro";
---

<Layout title="Kürbis - Nosotros">
  <div
    class="min-h-screen bg-[var(--color-background)] text-[var(--color-perla)]"
  >
    {/* Hero Section with Luxury Overlay */}
    <HeroWithTitle
      img="/img/nosotros/panorama.webp"
      alt="Austria y Piriapolis"
      divHeight="h-[48vw] lg:h-[45vw] xl:h-[40vw] 2xl:[20vw] overflow-hidden"
      withFilter={false}
      height="h-full"
    />
    <section class="bg-[url(/img/nosotros/laboratorio.webp)] bg-scroll">
      <TimeLine client:load />
    </section>
    <Quote
      quote="Nos honra preservar el patrimonio biocultural y el sabor auténtico de Austria, con productos saludables, sabrosos y sostenibles, de la más alta calidad."
    />

    <EndPage
      title="¿Quieres conocer el origen de Kürbis?"
      subTitle="Conoce la tradición detrás del proyecto"
      button="Nuestra mision"
      link="/mision"
    />
  </div>
</Layout>
