---
import HeroWithTitle from '@/components/HeroWithTitle.astro';
import Layout from '../layouts/layout.astro';
import TimeLine from '@/components/NosotrosComponents/TimeLine';
import EndPage from '@/components/EndPage.astro';
import Quote from '@/components/Quote.astro';
---

<Layout
  title="Kürbis - Nosotros"
  description="Traemos a Uruguay el auténtico aceite de semillas de zapallo de Austria, un legado cultural y culinario con siglos de historia."
  url="https://kurbis.com.uy/nosotros"
  image="imgSEO/nosotros.png"
>
  <div class="min-h-screen bg-[var(--color-background)] text-[var(--color-perla)]">
    {/* Hero Section with Luxury Overlay */}
    <HeroWithTitle img="/img/nosotros/panorama.webp" alt="Austria y Piriapolis" />
    <TimeLine client:load />
    <Quote quote="Nos honra preservar el patrimonio biocultural y el sabor auténtico de Austria, con productos saludables, sabrosos y sostenibles, de la más alta calidad." />
    <EndPage title="¿Quieres conocer el origen de Kürbis?" subTitle="Conoce la tradición detrás del proyecto" button="Nuestra mision" link="/mision" />
  </div>
</Layout>
