---
import TituloSobreImagen from "@/components/TituloSobreImagen.astro";
import Layout from "../layouts/layout.astro";
import TimeLine from "@/components/TimeLine";
import PieDePagina from "@/components/PieDePagina.astro";
import Quote from "@/components/Quote.astro";
---

<Layout title="Kürbis - Nosotros">
  <div
    class="min-h-screen bg-[var(--color-background)] text-[var(--color-perla)]"
  >
    {/* Hero Section with Luxury Overlay */}
    <TituloSobreImagen
      img="/img/nosotros/panorama.webp"
      alt="Austria y Piriapolis"
      imgHeight="h-[42vw] lg:h-[41vw] 2xl:[20vw] overflow-hidden"
      withFilter={false}
    />
    <section class="bg-[url(/img/nosotros/laboratorio.jpeg)] bg-scroll">
      <TimeLine client:load/>
    </section>
      <Quote quote="Nos honra preservar el patrimonio biocultural y el sabor auténtico de Austria, con productos saludables, sabrosos y sostenibles de la más alta calidad."/>

    <PieDePagina title="Conoce nuestros productos" subTitle = "Mejor de lo que puedes imaginar" button="Nuestros productos" link="/productos"/>
</Layout>
