---
//Importamos un slider de react
import Rueda from "./Rueda.astro";
import { CarouselHero } from "./CarouselHero.tsx";
---

<div class="static">
    <CarouselHero client:load/>
    <Rueda />
</div>
