---
const { quote, className } = Astro.props;
---

<section class="py-32 px-4 relative">
  <div class="absolute inset-0 bg-black/80"></div>
  <div class="max-w-4xl mx-auto text-center relative z-10">
    <div class="text-[var(--color-primario)] text-6xl font-serif mb-6">
      "
    </div>
    <blockquote
      class={`text-2xl md:text-3xl lg:text-4xl font-serif font-light leading-relaxed text-[var(--color-perla)] mb-6 ${className}`}
    >
      <h2>{quote}</h2>
    </blockquote>
    <div class="text-[var(--color-primario)] text-6xl font-serif">
      "
    </div>
  </div>
</section>
