---
import "../styles/rueda.css";
---

<div class="absolute left-0 xs:top-70 sm:top-100 lg:top-120 xl:top-160 2xl:top-240 inline-block size-30 sm:size-40 md:size-50 xl:size-70">
  <div class="circle-text bg-white rounded-full"></div>
  <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-1/3 h-1/3 flex items-center justify-center">
    <img
      src="/AustriaUruguay.svg"
      alt="Banderas"
      class="flags-icon"
    />
  </div>
</div>    
<!-- TODO mejorar como se ve el texto -->
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const texto = "BIENVENIDOS A KÜRBIS — WILLKOMMEN BEI KÜRBIS — ";
    const contenedor = document.querySelector(".circle-text");
    const totalChars = texto.length;
    contenedor.style.setProperty("--total", totalChars);
    texto.split("").forEach((char, idx) => {
      const span = document.createElement("span");
      span.textContent = char;
      span.style.setProperty("--i", idx);
      contenedor.appendChild(span);
    });
  });
</script>