---
const {
    img,
    alt = "",
    divHeight = "h-[500px]",
    height,
    withFilter = true,
} = Astro.props;
---

<section class={`relative ${divHeight}`}>
    <div class="absolute inset-0">
        <img
            src={`${img}`}
            alt={alt}
            role="presentation"
            aria-hidden="true"
            class={`object-cover w-full ${height}`}
        />
        {
            withFilter && (
                <div class="absolute inset-0 bg-gradient-to-b from-black/70 via-black/40 to-black/80" />
            )
        }

        <div
            class="absolute bottom-0 left-0 right-0 h-1 bg-gradient-to-r from-[var(--color-primario)]/0 via-[var(--color-primario)] to-[var(--color-primario)]/0"
        >
        </div>
    </div>
    <slot name="title" />
</section>
