---
const { title, subtitle } = Astro.props;
---

<div class="w-full text-center my-6">
    <h1 class="text-xl xs:text-2xl sm:text-3xl md:text-4xl lg:text-5xl md:px-6 lg:px-8 py-3 md:py-4 tracking-wider md:tracking-[.2em] font-bold uppercase text-center leading-tight">
        {title}
    </h1>
    <h2 class="text-lg md:text-xl lg:text-2xl md:px-6 lg:px-8 py-3 md:py-4 font-medium text-center leading-tight">
        {subtitle}
    </h2>
</div>
