---
const { texto } = Astro.props;
---

<div
    class="flex justify-center items-center py-8 md:py-12 lg:py-16 px-4 md:px-8 lg:px-16 my-6 md:my-8 lg:my-10 z-15"
>
    <h3
        class="bg-[var(--color-complementario)] mx-2 px-4 md:px-6 lg:px-8 py-3 md:py-4 tracking-wider md:tracking-[.2em] font-bold uppercase text-lg md:text-2xl lg:text-3xl xl:text-4xl text-white text-center leading-tight"
    >
        {texto}
    </h3>
</div>
