---
import Footer from '@/components/LayoutComponents/Footer.astro';
import InfoBar from '../components/LayoutComponents/InfoBar.astro';
import Navbar from '../components/LayoutComponents/Navbar.tsx';
import '../styles/global.css';
const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Kürbis" />
    <link rel="manifest" href="/site.webmanifest" />
    <title>{title}</title>
  </head>
  <body class="bg-[var(--color-background)]">
    <InfoBar message="Disfruta nuestras exclusivas oportunidades" />
    <!-- Visitá <a href="https://tienda.kurbis.uy" class="underline hover:no-underline">tienda.kurbis.com</a> -->
    <Navbar client:load />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
