---
import Footer from "@/components/LayoutComponents/Footer.astro";
import InfoBar from "../components/LayoutComponents/InfoBar.astro";
import Navbar from "../components/LayoutComponents/Navbar.astro";
import "../styles/global.css";
const { title } = Astro.props;
---

<html lang="es">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{title}</title>
    </head>
    <body class="bg-[var(--color-background)]">
            <InfoBar
                message='Disfrutá nuestras exclusivas oportunidades! Visitá <a href="https://tienda.kurbis.uy" class="underline hover:no-underline">tienda.kurbis.com</a>'
            />
            <Navbar />
        <main>
            <slot />
        </main>
        <Footer />
    </body>
</html>
